<template>
    <div class="home">
        <GrantForm />
    </div>
</template>

<script>
    // @ is an alias to /src
    import GrantForm from '@/components/GrantForm.vue'

    export default {
        name: 'Home',
        components: {
            GrantForm
        }
    }
</script>
