<template>
    <md-field :class="getValidationClass()">
        <label :for="id">{{ label }}</label>
        <md-input :name="id" :id="id" :autocomplete="id" v-model="value" @blur="validate" />
        <span class="md-error" v-if="!$v.required.required">обязательное поле</span>
        <!--<span class="md-error" v-else-if="!$v.inn.minlength">некорректное значение поля</span>-->
        <!--<span class="md-error" v-else-if="!$v.inn.maxlength">некорректное значение поля</span>-->
    </md-field>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'

    export default {
        name: 'Input',
        mixins: [validationMixin],
        props: {
            model: Object,
            id: String,
            label: String,
            required: Boolean,
            minLength: Number,
            maxLength: Number,
        },
        data: () => ({

        }),
        validations: {
            required: {
                required
            },
            minLength: {
                minLength: minLength(minLength)
            }
        },
        computed: {
            value: {
                get: function() {
                    return this.model
                },
                set: function(value) {
                    this.$emit('input', value)
                }
            }
        },
        methods: {
            getValidationClass() {
                console.log('getValidationClass');
                let field;
                if (this.required) {
                    field = this.$v.required
                    console.log(field);
                }
                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            validate() {
                console.log(123);
                this.$v.$touch();
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
