<template>
    <form class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-50 md-small-size-100">
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Ваш комментарий</label>
                            <md-textarea v-model="additionalComments"></md-textarea>
                        </md-field>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</template>

<script>
    export default {
        name: 'AdditionalComments',
        data: () => ({

        }),
        computed: {
            additionalComments: {
                get: function() {
                    return this.$store.state.additionalComments
                },
                set: function(additionalComments) {
                    this.$store.commit('setAdditionalComments', { additionalComments })
                }
            },
        },
        methods: {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
