<template>
    <form class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-50 md-small-size-100">
            <!--<md-card-header>-->
                <!--<div class="md-title"></div>-->
            <!--</md-card-header>-->

            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field :class="getValidationClass('inn')">
                            <label for="inn">ИНН</label>
                            <md-input name="inn" id="inn" autocomplete="inn" v-model="inn" :disabled="sending" required md-counter="10"/>
                            <span class="md-error" v-if="!$v.inn.required">обязательное поле</span>
                            <span class="md-error" v-else-if="!$v.inn.minlength">допускается минимум 10 символов</span>
                            <span class="md-error" v-else-if="!$v.inn.maxlength">допускается максимум 10 символов</span>
                        </md-field>
                    </div>
                </div>

                <!--<div class="md-layout md-gutter">-->
                    <!--<div class="md-layout-item md-small-size-100">-->
                        <!--<vue-input v-model="inn" :id="inn" :label="'ИНН'" required />-->
                    <!--</div>-->
                <!--</div>-->

                <div v-if="inn && inn.length === 10">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('fullname')">
                                <label for="fullname">Полное наименование</label>
                                <md-input name="fullname" id="fullname" autocomplete="fullname" v-model="fullname" :disabled="true" />
                                <span class="md-error" v-if="!$v.fullname.required">является обязательным полем</span>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('legalAddress')">
                                <label for="legalAddress">Юридический адрес</label>
                                <md-input id="legalAddress" name="legalAddress" autocomplete="legalAddress" v-model="legalAddress" :disabled="true" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('postalAddress')">
                                <label for="postalAddress">Почтовый адрес</label>
                                <md-input id="postalAddress" name="postalAddress" autocomplete="postalAddress" v-model="postalAddress" :disabled="sending" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('contactPerson')">
                                <label for="contactPerson">Контактное лицо</label>
                                <md-input id="contactPerson" name="contactPerson" autocomplete="contactPerson" v-model="contactPerson" :disabled="sending" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('contactTelephone')">
                                <label for="contactTelephone">Контактный телефон</label>
                                <md-input id="contactTelephone" name="contactTelephone" autocomplete="contactTelephone" v-model="contactTelephone" :disabled="sending" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('email')">
                                <label for="email">Электронная почта</label>
                                <md-input type="email" name="email" id="email" autocomplete="email" v-model="email" :disabled="sending" />
                                <span class="md-error" v-if="!$v.email.required">является обязательным полем</span>
                                <span class="md-error" v-else-if="!$v.email.email">некорректное значение поля</span>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('ceoName')">
                                <label for="ceoName">ФИО генерального директора</label>
                                <md-input id="ceoName" name="ceoName" autocomplete="ceoName" v-model="ceoName" :disabled="sending" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-switch v-model="isChiefAccountant">Предусмотрена ли штатная должность главного бухгалтера?</md-switch>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="isChiefAccountant">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('chiefAccountantName')">
                                <label for="chiefAccountantName">ФИО главного бухгалтера</label>
                                <md-input id="chiefAccountantName" name="chiefAccountantName" autocomplete="chiefAccountantName" v-model="chiefAccountantName" :disabled="sending" required />
                            </md-field>
                        </div>
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <!--<label>Single</label>-->
                                <md-file v-model="chiefAccountantFile" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-switch v-model="isMif">Является ли претендент управляющей компанией закрытого паевого инвестиционного фонда?</md-switch>
                        </div>
                    </div>
                </div>
            </md-card-content>

            <!--<md-progress-bar md-mode="indeterminate" v-if="sending" />-->

            <!--<md-card-actions>-->
                <!--<md-button type="submit" class="md-primary" :disabled="sending">Отправить</md-button>-->
            <!--</md-card-actions>-->
        </md-card>

        <!--<md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>-->
    </form>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'
    import VueInput from './reusable/Input.vue';

    export default {
        name: 'ApplicantForm',
        mixins: [validationMixin],
        components: {
            VueInput
        },
        data: () => ({
            sending: false,
            expandNews: false,
            expandSingle: false,
            isChiefAccountant: false,
        }),
        validations: {
            inn: {
                required,
                minLength: minLength(10),
                maxLength: maxLength(10),
            },
            fullname: {
                required,
            },
            email: {
                required,
                email
            }
        },
        computed: {
            inn: {
                get: function() {
                    return this.$store.state.applicantInformation.inn
                },
                set: function(inn) {
                    this.$store.commit('setApplicantInformationInn', { inn })
                }
            },
            fullname: {
                get: function() {
                    return this.$store.state.applicantInformation.fullname
                },
                set: function(fullname) {
                    this.$store.commit('setApplicantInformationFullname', { fullname })

                }
            },
            legalAddress: {
                get: function() {
                    return this.$store.state.applicantInformation.legalAddress
                },
                set: function(legalAddress) {
                    this.$store.commit('setApplicantInformationLegalAddress', { legalAddress })
                }
            },
            postalAddress: {
                get: function() {
                    return this.$store.state.applicantInformation.postalAddress
                },
                set: function(postalAddress) {
                    this.$store.commit('setApplicantInformationPostalAddress', { postalAddress })
                }
            },
            contactPerson: {
                get: function() {
                    return this.$store.state.applicantInformation.contactPerson
                },
                set: function(contactPerson) {
                    this.$store.commit('setApplicantInformationContactPerson', { contactPerson })
                }
            },
            contactTelephone: {
                get: function() {
                    return this.$store.state.applicantInformation.contactTelephone
                },
                set: function(contactTelephone) {
                    this.$store.commit('setApplicantInformationContactTelephone', { contactTelephone })
                }
            },
            email: {
                get: function() {
                    return this.$store.state.applicantInformation.email
                },
                set: function(email) {
                    this.$store.commit('setApplicantInformationEmail', { email })
                }
            },
            ceoName: {
                get: function() {
                    return this.$store.state.applicantInformation.ceoName
                },
                set: function(ceoName) {
                    this.$store.commit('setApplicantInformationCeoName', { ceoName })
                }
            },
            chiefAccountantName: {
                get: function() {
                    return this.$store.state.applicantInformation.chiefAccountantName
                },
                set: function(chiefAccountantName) {
                    this.$store.commit('setApplicantInformationChiefAccountantName', { chiefAccountantName })

                }
            },
            isMif: {
                get: function() {
                    return this.$store.state.applicantInformation.isMif
                },
                set: function(isMif) {
                    this.$store.commit('setApplicantInformationIsMif', { isMif })
                }
            },
            chiefAccountantFile: {
                get: function() {
                    return this.$store.state.attachedFiles.chiefAccountantFile
                },
                set: function(chiefAccountantFile) {
                    this.$store.commit('setAttachedFilesChiefAccountantFile', { chiefAccountantFile })
                }
            },
        },
        methods: {
            getValidationClass (fieldName) {
                const field = this.$v[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            clearForm () {
                this.$v.$reset()
                // this.firstName = null
                // this.lastName = null
                // this.age = null
                // this.gender = null
                // this.email = null
            },
            saveUser () {
                this.sending = true
            },
            validateUser () {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    this.saveUser()
                }
            },
        },
        mounted() {
            console.log(this.$store);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .md-switch {
        display: flex;
    }
</style>
