<template>
    <form class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-50 md-small-size-100">
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Копии учредительных документов претендента с изменениями на день подачи заявки</label>
                            <md-file v-model="constituentDocumentsFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Копия документа, подтверждающего полномочия руководителя претендента или иного лица на осуществление действий от имени претендента</label>
                            <md-file v-model="supervisorPowersFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Копия документа, подтверждающего полномочия главного бухгалтера претендента (при наличии в штате должности главного бухгалтера).</label>
                            <md-file v-model="chiefAccountantFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Копии документов, подтверждающих применение арендаторами (субарендаторами) патентной системы налогообложения в сфере общественного питания и (или) бытового обслуживания подтверждающего полномочия главного бухгалтера претендента (при наличии в штате должности главного бухгалтера).</label>
                            <md-file v-model="patentTaxSystemFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Справка, содержащая расчет суммы налога на имущество и земельного налога (арендной платы за землю) за соответствующий период</label>
                            <md-file v-model="calculationTaxReferenceFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Справка с указанием среднегодовой стоимости принадлежащего заявителю объекта недвижимости, облагаемого налогом на имущество организаций от среднегодовой стоимости</label>
                            <md-file v-model="averageAnnualCostReferenceFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Справка с указанием среднегодовой стоимости принадлежащего заявителю объекта недвижимости, облагаемого налогом на имущество организаций от среднегодовой стоимости</label>
                            <md-file v-model="averageAnnualCostReferenceFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Гарантийное письмо претендента о соблюдении требований, указанных в пункте 5 заявки, на день подачи заявки</label>
                            <md-file v-model="complianceLetterGuaranteeFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Гарантийное письмо претендента о приостановлении работы в соответствии с  указом Мэра Москвы № 12-УМ на объектах, указанных в заявке в качестве таковых</label>
                            <md-file v-model="suspensionLetterGuaranteeFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Копии документов, подтверждающих право собственности претендента на объекты недвижимости, при отсутствии сведений о праве собственности в ЕГРН</label>
                            <md-file v-model="propertyRightsFile" />
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field>
                            <label>Прочие документы, которые претендент считает нужным приложить</label>
                            <md-file v-model="otherFiles" />
                        </md-field>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</template>

<script>
    export default {
        name: 'AttachedFiles',
        components: {

        },
        data: () => ({

        }),
        computed: {
            constituentDocumentsFile: {
                get: function() {
                    return this.$store.state.attachedFiles.constituentDocumentsFile
                },
                set: function(constituentDocumentsFile) {
                    this.$store.commit('setAttachedFilesConstituentDocumentsFile', { constituentDocumentsFile })
                }
            },
            supervisorPowersFile: {
                get: function() {
                    return this.$store.state.attachedFiles.supervisorPowersFile
                },
                set: function(supervisorPowersFile) {
                    this.$store.commit('setAttachedFilesSupervisorPowersFile', { supervisorPowersFile })
                }
            },
            chiefAccountantFile: {
                get: function() {
                    return this.$store.state.attachedFiles.chiefAccountantFile
                },
                set: function(chiefAccountantFile) {
                    this.$store.commit('setAttachedFilesChiefAccountantFile', { chiefAccountantFile })
                }
            },
            patentTaxSystemFile: {
                get: function() {
                    return this.$store.state.attachedFiles.patentTaxSystemFile
                },
                set: function(patentTaxSystemFile) {
                    this.$store.commit('setAttachedFilesPatentTaxSystemFile', { patentTaxSystemFile })
                }
            },
            calculationTaxReferenceFile: {
                get: function() {
                    return this.$store.state.attachedFiles.calculationTaxReferenceFile
                },
                set: function(calculationTaxReferenceFile) {
                    this.$store.commit('setAttachedFilesCalculationTaxReferenceFile', { calculationTaxReferenceFile })
                }
            },
            averageAnnualCostReferenceFile: {
                get: function() {
                    return this.$store.state.attachedFiles.averageAnnualCostReferenceFile
                },
                set: function(averageAnnualCostReferenceFile) {
                    this.$store.commit('setAttachedFilesAverageAnnualCostReferenceFile', { averageAnnualCostReferenceFile })
                }
            },
            complianceLetterGuaranteeFile: {
                get: function() {
                    return this.$store.state.attachedFiles.complianceLetterGuaranteeFile
                },
                set: function(complianceLetterGuaranteeFile) {
                    this.$store.commit('setAttachedFilesComplianceLetterGuaranteeFile', { complianceLetterGuaranteeFile })
                }
            },
            suspensionLetterGuaranteeFile: {
                get: function() {
                    return this.$store.state.attachedFiles.suspensionLetterGuaranteeFile
                },
                set: function(suspensionLetterGuaranteeFile) {
                    this.$store.commit('setAttachedFilesSuspensionLetterGuaranteeFile', { suspensionLetterGuaranteeFile })
                }
            },
            propertyRightsFile: {
                get: function() {
                    return this.$store.state.attachedFiles.propertyRightsFile
                },
                set: function(propertyRightsFile) {
                    this.$store.commit('setAttachedFilesPropertyRightsFile', { propertyRightsFile })
                }
            },
            otherFiles: {
                get: function() {
                    return this.$store.state.attachedFiles.otherFiles
                },
                set: function(otherFiles) {
                    this.$store.commit('setAttachedFilesOtherFiles', { otherFiles })
                }
            },
        },
        methods: {
            getValidationClass (fieldName) {
                const field = this.$v[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            clearForm () {
                this.$v.$reset()
                // this.firstName = null
                // this.lastName = null
                // this.age = null
                // this.gender = null
                // this.email = null
            },
            saveUser () {
                this.sending = true
            },
            validateUser () {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    this.saveUser()
                }
            },
        },
        mounted() {
            console.log(this.$store);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    /*.md-field {*/
        /*label {*/
            /*white-space: normal;*/
        /*}*/
    /*}*/
</style>
