<template>
    <form class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-50 md-small-size-100">
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field :class="getValidationClass('cadastralNumber')">
                            <label for="cadastralNumber">Кадастровый номер здания</label>
                            <md-input name="cadastralNumber" id="cadastralNumber" autocomplete="cadastralNumber" v-model="cadastralNumber" :disabled="sending" required/>
                        </md-field>
                    </div>
                </div>

                <div v-if="cadastralNumber">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('address')">
                                <label for="address">Адрес здания</label>
                                <md-input name="address" id="address" autocomplete="address" v-model="address" :disabled="true" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('square')">
                                <label for="square">Общая площадь здания, кв. м</label>
                                <md-input name="square" id="square" autocomplete="square" v-model="square" :disabled="true" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('registered')">
                                <label for="registered">Право зарегистрировано на здание или помещения в нем?</label>
                                <md-input name="registered" id="registered" autocomplete="registered" v-model="registered" :disabled="true" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="registered && registered === 'не зарегистрировано'">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('exists')">
                                <label for="exists">Если право не зарегистрировано, оно существует на здание или помещение?</label>
                                <md-select v-model="exists" name="exists" id="exists" :disabled="sending">
                                    <md-option value="здание">здание</md-option>
                                    <md-option value="помещение">помещение</md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="registered && registered === 'не зарегистрировано'">
                        <div class="md-layout-item md-small-size-100">
                            <label>Если право не зарегистрировано, оно существует на здание или помещение?</label>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="registered && registered === 'не зарегистрировано'">
                        <div class="md-layout-item md-small-size-100">
                            <md-radio v-model="exists" value="здание">Здание</md-radio>
                            <md-radio v-model="exists" value="помещение">Помещение</md-radio>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <div v-if="exists === 'здание' && cadastralNumber">
                <object-right :cadastral-number="cadastralNumber"/>
            </div>
        </md-card>
    </form>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'
    import ObjectRight from './ObjectRight.vue'

    export default {
        name: 'BuildingForm',
        mixins: [validationMixin],
        components: {
            ObjectRight
        },
        data: () => ({
            userSaved: false,
            sending: false,
            lastUser: null,
            expandNews: false,
            expandSingle: false,
            objectRightVisible: false,
        }),
        validations: {
            form: {

            }
        },
        computed: {
            cadastralNumber: {
                get: function() {
                    return this.$store.state.buildingInformation.cadastralNumber
                },
                set: function(cadastralNumber) {
                    this.$store.commit('setBuildingInformationCadastralNumber', { cadastralNumber })
                }
            },
            address: {
                get: function() {
                    return this.$store.state.buildingInformation.address
                },
                set: function(address) {
                    this.$store.commit('setBuildingInformationAddress', { address })
                }
            },
            square: {
                get: function() {
                    return this.$store.state.buildingInformation.square
                },
                set: function(square) {
                    this.$store.commit('setBuildingInformationSquare', { square })
                }
            },
            registered: {
                get: function() {
                    return this.$store.state.buildingInformation.registered
                },
                set: function(registered) {
                    this.$store.commit('setBuildingInformationRegistered', { registered })
                }
            },
            exists: {
                get: function() {
                    return this.$store.state.buildingInformation.exists
                },
                set: function(exists) {
                    this.$store.commit('setBuildingInformationExists', { exists })
                }
            },
        },
        methods: {
            getValidationClass (fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            clearForm () {
                this.$v.$reset()
                // this.form.firstName = null
                // this.form.lastName = null
                // this.form.age = null
                // this.form.gender = null
                // this.form.email = null
            },
            saveUser () {
                this.sending = true
            },
            validateUser () {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    this.saveUser()
                }
            },
            showObjectRight() {
                this.objectRightVisible = !this.objectRightVisible;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
