<template>
    <div class="grant-form">
        <h1>Заявка на получение гранта</h1>
        <md-button class="md-raised md-accent" @click="saveToLocalStorage">SaveToLocalStorage</md-button>
        <md-list :md-expand-single="expandSingle">
            <md-list-item md-expand :md-expanded.sync="expandSync">
                <span class="md-list-item-text">Сведения о претенденте</span>

                <md-list slot="md-expand">
                    <applicant-form/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand>
                <span class="md-list-item-text">Сведения о здании</span>

                <md-list slot="md-expand">
                    <building-form/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand v-if="$store.state.buildingInformation.exists === 'помещение'">
                <span class="md-list-item-text">Перечень помещений в собственности</span>

                <md-list slot="md-expand">
                    <rooms/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand>
                <span class="md-list-item-text">Перечень земельных участков, на которых расположено здание</span>

                <md-list slot="md-expand">
                    <land-plots-list v-if="landPlotsList.length" :land-plots-list="landPlotsList"/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand>
                <span class="md-list-item-text">Требования к претенденту и объекту недвижимости</span>

                <md-list slot="md-expand">
                    <requirements/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand>
                <span class="md-list-item-text">Перечень прилагаемых документов</span>

                <md-list slot="md-expand">
                    <attached-files/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand>
                <span class="md-list-item-text">Дополнительные комментарии претендента к заявке</span>

                <md-list slot="md-expand">
                    <additional-comments/>
                </md-list>
            </md-list-item>

            <!-- test -->
            <md-list-item md-expand>
                <span class="md-list-item-text">Дополнительный лист "Договор аренды"</span>

                <md-list slot="md-expand">
                    <lease-contract/>
                </md-list>
            </md-list-item>
            <md-list-item md-expand>
                <span class="md-list-item-text">Дополнительный лист "Приостановка"</span>

                <md-list slot="md-expand">
                    <suspension/>
                </md-list>
            </md-list-item>
        </md-list>
    </div>
</template>

<script>
    import ApplicantForm from './ApplicantForm.vue'
    import BuildingForm from './BuildingForm.vue'
    import Rooms from './Rooms.vue'
    import LandPlotsList from './LandPlotsList.vue'
    import Requirements from './Requirements.vue'
    import AttachedFiles from './AttachedFiles.vue'
    import AdditionalComments from './AdditionalCoomments.vue'

    import LeaseContract from './LeaseContract.vue'
    import Suspension from './Suspension.vue'
    import StateLocalStorageProvider from '../providers/StateLocalStorage'

    export default {
        name: 'GrantForm',
        components: {
            ApplicantForm,
            BuildingForm,
            LandPlotsList,
            Requirements,
            AttachedFiles,
            Rooms,
            AdditionalComments,
            LeaseContract,
            Suspension,
        },
        data: () => ({
            expandSingle: false,
            expandSync: false,
            landPlotsList: [],
        }),
        methods: {
            saveToLocalStorage() {
                StateLocalStorageProvider.push(this.$store.state);
            },
        },
        mounted() {
            this.landPlotsList.push({
                cadastralNumber: '123',
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
