<template>
    <div>
        <md-table>
            <md-table-row>
                <md-table-head>Кадастровый номер участка</md-table-head>
                <md-table-head>Площадь участка</md-table-head>
                <md-table-head>Дополнительный лист "Участок"</md-table-head>
            </md-table-row>

            <md-table-row v-for="(landPlot, index) in landPlotsList">
                <md-table-cell>{{ landPlot.cadastralNumber }}</md-table-cell>
                <md-table-cell>{{ landPlot.square }}</md-table-cell>
                <md-table-cell><md-button class="md-raised md-primary" @click="showLandPlotSheet(index)">Заполнить</md-button></md-table-cell>
            </md-table-row>
        </md-table>

        <div v-for="(landPlotsSheet, index) in landPlotsSheets">
            <land-plot v-if="landPlotsSheet.isVisible" :cadastral-number="landPlotsSheet.cadastralNumber"/>
        </div>
    </div>
</template>

<script>
    import LandPlot from './LandPlot.vue'

    export default {
        name: 'LandPlotsList',
        components: {
            LandPlot
        },
        props: {
            landPlotsList: Array, // Перечень земельных участков, на которых расположено здание
        },
        data: () => ({
            landPlotsSheets: []
        }),
        methods: {
            showLandPlotSheet(index) {
                this.hideAllSheets();
                this.landPlotsSheets[index].isVisible = true;
            },
            hideAllSheets() {
                for (let i = 0, counter = this.landPlotsSheets.length; i < counter; i++) {
                    this.landPlotsSheets[i].isVisible = false;
                }
            }
        },
        created() {
            const landPlotsListCopy = this.landPlotsList;
            for (let i = 0, counter = landPlotsListCopy.length; i < counter; i++) {
                this.landPlotsSheets.push({
                    index: i,
                    isVisible: false,
                    cadastralNumber: landPlotsListCopy.cadastralNumber,
                });
            }
        },
        mounted() {
            console.log(this.landPlotsList)
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
