<template>
    <div>
        <form class="md-layout" @submit.prevent="validateUser">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Сведения об участке</div>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Кадастровый номер участка</label>
                                <md-input v-model="cadastralNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Площадь участка</label>
                                <md-input v-model="square" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Адрес участка</label>
                                <md-input v-model="address" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>На каком праве используется участок?</label>
                                <md-select v-model="form.right">
                                    <md-option value="собственность">собственность</md-option>
                                    <md-option value="аренда у города Москвы">аренда у города Москвы</md-option>
                                    <md-option value="иное">иное</md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>ИНН собственника участка</label>
                                <md-input v-model="ownerInn" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Наименование собственника участка</label>
                                <md-input v-model="ownerName" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Доля в праве</label>
                                <md-input v-model="shareRight" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="form.right === 'собственность' && !ownerName && !ownerInn">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Реквизиты правоустанавливающего документа, если сведений о собственнике нет в ЕГРН</label>
                                <md-input v-model="form.documentDetails" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="form.right === 'собственность'">
                        <div class="md-layout-item md-small-size-100">
                            <md-switch v-model="form.isLandTaxPaid">Платится ли земельный налог в отношении объекта?</md-switch>
                        </div>
                    </div>

                    <div v-if="form.right === 'собственность' && form.isLandTaxPaid">
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Размер налоговой базы на 01.01.2020</label>
                                    <md-input v-model="form.taxBase" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Ставка налога</label>
                                    <md-input v-model="form.taxRate" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Сумма налога за март 2020 года до вычета возможных льгот</label>
                                    <md-input v-model="form.taxAmountBeforeDeductionMonth" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Сумма налога за март 2020 года после вычета возможных льгот</label>
                                    <md-input v-model="form.taxAmountAfterDeductionMonth" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Сумма налога за 2 квартал 2020 года до вычета возможных льгот</label>
                                    <md-input v-model="form.taxAmountBeforeDeductionQuarter" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Сумма налога за 2 квартал 2020 года после вычета возможных льгот</label>
                                    <md-input v-model="form.taxAmountAfterDeductionQuarter" />
                                </md-field>
                            </div>
                        </div>
                    </div>

                    <div class="md-layout md-gutter" v-if="form.right === 'аренда у города Москвы'">
                        <div class="md-layout-item md-small-size-100">
                            <md-switch v-model="form.isRentPaid">Платится ли арендная плата в отношении объекта?</md-switch>
                        </div>
                    </div>

                    <div v-if="form.right === 'аренда у города Москвы' && form.isRentPaid">
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Размер арендной платы за март 2020 года</label>
                                    <md-input v-model="form.rentAmountMonth" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Размер арендной платы за 2 квартал 2020 года</label>
                                    <md-input v-model="form.rentAmountQuarter" />
                                </md-field>
                            </div>
                        </div>

                        <md-datepicker v-model="form.leaseDate">
                            <label>Дата договора аренды земельного участка</label>
                        </md-datepicker>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Номер договора аренды земельного участка</label>
                                    <md-input v-model="form.leaseNumber" />
                                </md-field>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </form>
        <form>
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Перечень объектов недвижимости, расположенных на участке </div>
                </md-card-header>
                <md-card-content>
                    <md-table>
                        <md-table-row>
                            <md-table-head>Тип объекта (здание/сооружение)</md-table-head>
                            <md-table-head>Кадастровый номер объекта</md-table-head>
                        </md-table-row>

                        <md-table-row v-for="(realEstate, index) in realEstateList">
                            <md-table-cell>{{ realEstate.type }}</md-table-cell>
                            <md-table-cell>{{ realEstate.cadastralNumber }}</md-table-cell>
                        </md-table-row>
                    </md-table>
                </md-card-content>
            </md-card>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'LandPlot',
        props: {
            cadastralNumber: String, // Кадастровый номер участка
            square: Number, // Площадь участка
            address: String, // Адрес участка
            ownerInn: Number, // ИНН собственника участка
            ownerName: String, // Наименование собственника участка
            shareRight: String, // Доля в праве
            realEstateList: Array, // Перечень объектов недвижимости, расположенных на участке
        },
        data: () => ({
            form: {
                right: null, // На каком праве используется участок?
                documentDetails: null, // Реквизиты правоустанавливающего документа, если сведений о собственнике нет в ЕГРН
                isLandTaxPaid: false, // Платится ли земельный налог в отношении объекта?
                taxBase: null, // Размер налоговой базы на 01.01.2020
                taxRate: null, // Ставка налога
                taxAmountBeforeDeductionMonth: null, // Сумма налога за март 2020 года до вычета возможных льгот
                taxAmountAfterDeductionMonth: null, // Сумма налога за март 2020 года после вычета возможных льгот
                taxAmountBeforeDeductionQuarter: null, // Сумма налога за 2 квартал 2020 года до вычета возможных льгот
                taxAmountAfterDeductionQuarter: null, // Сумма налога за 2 квартал 2020 года после вычета возможных льгот
                isRentPaid: null, // Платится ли арендная плата в отношении объекта?
                rentAmountMonth: null, // Размер арендной платы за март 2020 года
                rentAmountQuarter: null, // Размер арендной платы за 2 квартал 2020 года
                leaseDate: null, // Дата договора аренды земельного участка
                leaseNumber: null, // Номер договора аренды земельного участка
            }
        }),
        methods: {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
