<template>
    <div>
        <form class="md-layout" @submit.prevent="validateUser">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Дополнительный лист "Договор аренды"</div>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Кадастровый номер здания/помещения, в котором расположен объект</label>
                                <md-input v-model="cadastralNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Номер строки в таблице 2 листа "Объект права", в которой указан объект</label>
                                <md-input v-model="cadastralNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Номер строки в таблице 2 листа "Объект права", в которой указан объект</label>
                                <md-input v-model="rowNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>ИНН</label>
                                <md-input v-model="inn" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Наименование арендатора</label>
                                <md-input v-model="rentName" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Номер договора аренды арендатора</label>
                                <md-input v-model="leaseNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Дата договора аренды</label>
                                <md-input v-model="leaseDate" />
                            </md-field>
                        </div>
                    </div>

                    <md-datepicker v-model="form.leaseStartDate">
                        <label>Срок начала аренды</label>
                    </md-datepicker>

                    <md-datepicker v-model="form.leaseEndDate">
                        <label>Срок окончания аренды</label>
                    </md-datepicker>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Цель предоставления площади в аренду по договору</label>
                                <md-input v-model="form.providingPurpose" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <label>Является ли арендатор взаимозависимым лицом по отношению к собственнику (по критериям, указанным в ст. 105 НК РФ)?</label>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-radio v-model="form.isInterdependentPerson" value="true">да</md-radio>
                            <md-radio v-model="form.isInterdependentPerson" value="false">нет</md-radio>
                        </div>
                    </div>

                    <div v-if="form.isInterdependentPerson === 'false'">
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Совокупная арендная плата за март - июнь (апрель - июнь для гостиниц) до снижения</label>
                                    <md-input v-model="form.totalRentBeforeReduction" />
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <label>Была ли снижена арендная плата?</label>
                            </div>
                        </div>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-radio v-model="form.isRentReduced" value="true">да</md-radio>
                                <md-radio v-model="form.isRentReduced" value="false">нет</md-radio>
                            </div>
                        </div>

                        <div v-if="form.isRentReduced === 'true'">
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field>
                                        <label>Номер соглашения о снижении арендной платы</label>
                                        <md-input v-model="form.rentalAgreementNumber" />
                                    </md-field>
                                </div>
                            </div>

                            <md-datepicker v-model="form.rentalAgreementDate">
                                <label>Дата соглашения о снижении арендной платы</label>
                            </md-datepicker>

                            <md-datepicker v-model="form.rentalReducedSince">
                                <label>Дата, с которой аренда снижена</label>
                            </md-datepicker>

                            <md-datepicker v-model="form.rentalReducedBy">
                                <label>Дата, по которую аренда снижена</label>
                            </md-datepicker>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field>
                                        <label>Совокупная арендная плата за март - июнь (апрель - июнь для гостиниц) после снижения</label>
                                        <md-input v-model="form.totalRentAfterReduction" />
                                    </md-field>
                                </div>
                            </div>
                        </div>

                        <div v-if="form.isRentReduced === 'false'">
                            <md-datepicker v-model="form.offerDate">
                                <label>Дата направления оферты</label>
                            </md-datepicker>

                            <md-datepicker v-model="form.proposedReduceRentDateFrom">
                                <label>Дата, с которой предлагалось снизить аренду</label>
                            </md-datepicker>

                            <md-datepicker v-model="form.proposedReduceRentDateTo">
                                <label>Дата, по которую предлагалось снизить аренду</label>
                            </md-datepicker>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field>
                                        <label>Совокупная арендная плата за март - июнь (апрель - июнь для гостиниц), которая была бы после предложенного снижения</label>
                                        <md-input v-model="form.totalProposedRentAfterReduction" />
                                    </md-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'LeaseContract',
        props: {
            cadastralNumber: String, // Кадастровый номер
            rowNumber: Number, // Номер строки в таблице 2 листа "Объект права", в которой указан объект
            inn: Number, // ИНН
            rentName: String, // Наименование арендатора
            leaseNumber: String, // Номер договора аренды
            leaseDate: String, // Дата договора аренды
        },
        data: () => ({
            form: {
                leaseStartDate: null, // Срок начала аренды
                leaseEndDate: null, // Срок окончания аренды
                providingPurpose: null, // Цель предоставления площади в аренду по договору
                isInterdependentPerson: null, // Являяется ли арендатор взаимозависимым лицом по отношению к собственнику (по критериям, указанным в ст. 105 НК РФ)?
                totalRentBeforeReduction: null, // Совокупная арендная плата за март - июнь (апрель - июнь для гостиниц) до снижения
                isRentReduced: null, // Была ли снижена арендная плата?
                rentalAgreementNumber: null, // Номер соглашения о снижении арендной платы
                rentalAgreementDate: null, // Дата соглашения о снижении арендной платы
                rentalReducedSince: null, // Дата, с которой аренда снижена
                rentalReducedBy: null, // Дата, по которую аренда снижена
                totalRentAfterReduction: null, // Совокупная арендная плата за март - июнь (апрель - июнь для гостиниц) после снижения
                offerDate: null, // Дата направления оферты
                proposedReduceRentDateFrom: null, // Дата, с которой предлагалось снизить аренду
                proposedReduceRentDateTo: null, // Дата, по которую предлагалось снизить аренду
                totalProposedRentAfterReduction: null, // Совокупная арендная плата за март - июнь (апрель - июнь для гостиниц), которая была бы после предложенного снижения
            }
        }),
        methods: {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
