<template>
    <md-list :md-expand-single="expandSingle">
        <md-list-item md-expand :md-expanded.sync="expandSync">
            <span class="md-list-item-text">Сведения об объекте с кадастровым номером: {{ cadastralNumber }}</span>

            <md-list slot="md-expand">
                <form class="md-layout" @submit.prevent="validateUser">
                    <md-card class="md-layout-item md-small-size-100">
                        <md-card-content>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('cadastralNumber')">
                                        <label for="cadastralNumber">Кадастровый номер объекта</label>
                                        <md-input name="cadastralNumber" id="cadastralNumber" autocomplete="cadastralNumber" v-model="cadastralNumber" :disabled="sending" />
                                        <span class="md-error" v-if="!$v.form.cadastral_number_right.required">является обязательным полем</span>
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('type')">
                                        <label for="type">Тип объекта</label>
                                        <md-input name="type" id="type" autocomplete="type" v-model="type" :disabled="true" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('square')">
                                        <label for="square">Площадь объекта</label>
                                        <md-input name="square" id="square" autocomplete="square" v-model="square" :disabled="true" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('address')">
                                        <label for="address">Адрес объекта</label>
                                        <md-input name="address" id="address" autocomplete="address" v-model="address" :disabled="true" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('innOwner')">
                                        <label for="innOwner">ИНН собственника объекта</label>
                                        <md-input name="innOwner" id="innOwner" autocomplete="innOwner" v-model="innOwner" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('nameOwner')">
                                        <label for="nameOwner">Наименование собственника объекта</label>
                                        <md-input name="nameOwner" id="nameOwner" autocomplete="nameOwner" v-model="nameOwner" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('shareRight')">
                                        <label for="shareRight">Доля в праве</label>
                                        <md-input name="shareRight" id="shareRight" autocomplete="shareRight" v-model="shareRight" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('documentDetails')">
                                        <label for="documentDetails">Реквизиты правоустанавливающего документа, если сведений о собственнике нет в ЕГРН</label>
                                        <md-input name="documentDetails" id="documentDetails" autocomplete="documentDetails" v-model="documentDetails" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </form>
                <md-table v-model="data" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
                    <md-table-toolbar>
                        <h1 class="md-title">Сведения об использовании объекта</h1>
                    </md-table-toolbar>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Описание части здания/помещения">{{ item.description }}</md-table-cell>
                        <md-table-cell md-label="Наименование объекта">{{ item.name }}</md-table-cell>
                        <md-table-cell md-label="Сдается в аренду?">{{ item.for_rent }}</md-table-cell>
                        <md-table-cell md-label="ИНН арендатора">{{ item.inn }}</md-table-cell>
                        <md-table-cell md-label="Наименование арендатора">{{ item.renter_name }}</md-table-cell>
                        <md-table-cell md-label="Дата договора">{{ item.date }}</md-table-cell>
                        <md-table-cell md-label="Номер договора">{{ item.number }}</md-table-cell>
                        <md-table-cell md-label="Площадь">{{ item.square }}</md-table-cell>
                        <md-table-cell md-label="Была ли деятельность этого объекта приостановлена согласно указу мэра?">{{ item.is_stopped }}</md-table-cell>
                        <md-table-cell md-label="Реквизиты уведомления в Роспотребназдор о начале деятельности">{{ item.notify }}</md-table-cell>
                        <md-table-cell md-label="Реквизиты патента арендатора">{{ item.patent }}</md-table-cell>
                        <md-table-cell md-label="Реквизиты свидетельства о присвоении гостинице категории">{{ item.certificate }}</md-table-cell>
                    </md-table-row>
                </md-table>
                <form class="md-layout" @submit.prevent="validateUser">
                    <md-card class="md-layout-item md-small-size-100">
                        <md-card-header>
                            <div class="md-title">Сведения о налоге на имущество</div>
                        </md-card-header>
                        <md-card-content>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('is_property_tax_paid')">
                                        <label for="is_property_tax_paid">Кадастровый номер объекта</label>
                                        <md-input name="is_property_tax_paid" id="is_property_tax_paid" autocomplete="is_property_tax_paid" v-model="form.is_property_tax_paid" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('tax_determining_procedure')">
                                        <label for="tax_determining_procedure">Порядок определения налоговой базы</label>
                                        <md-input name="is_property_tax_paid" id="tax_determining_procedure" autocomplete="tax_determining_procedure" v-model="form.tax_determining_procedure" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <label>Порядок определения налоговой базы</label>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-radio v-model="form.tax_determining_procedure" value="кадастровая стоимость">кадастровая стоимость</md-radio>
                                    <md-radio v-model="form.tax_determining_procedure" value="среднегодовая стоимость">среднегодовая стоимость</md-radio>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('tax_base')">
                                        <label for="tax_base">Размер налоговой базы на 01.01.2020</label>
                                        <md-input name="tax_base" id="tax_base" autocomplete="tax_base" v-model="form.tax_base" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('amount_tax_before_deduction_month')">
                                        <label for="amount_tax_before_deduction_month">Сумма налога за март 2020 года до вычета возможных льгот</label>
                                        <md-input name="amount_tax_before_deduction_month" id="amount_tax_before_deduction_month" autocomplete="amount_tax_before_deduction_month" v-model="form.amount_tax_before_deduction_month" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('amount_tax_after_deduction_month')">
                                        <label for="amount_tax_after_deduction_month">Сумма налога за март 2020 года после вычета возможных льгот</label>
                                        <md-input name="amount_tax_after_deduction_month" id="amount_tax_after_deduction_month" autocomplete="amount_tax_after_deduction_month" v-model="form.amount_tax_after_deduction_month" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('amount_tax_before_deduction_quarter')">
                                        <label for="amount_tax_before_deduction_quarter">Сумма налога за 2 квартал 2020 года до вычета возможных льгот</label>
                                        <md-input name="amount_tax_before_deduction_quarter" id="amount_tax_before_deduction_quarter" autocomplete="amount_tax_before_deduction_quarter" v-model="form.amount_tax_before_deduction_quarter" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>

                            <div class="md-layout md-gutter">
                                <div class="md-layout-item md-small-size-100">
                                    <md-field :class="getValidationClass('amount_tax_after_deduction_quarter')">
                                        <label for="amount_tax_after_deduction_quarter">Сумма налога за 2 квартал 2020 года после вычета возможных льгот</label>
                                        <md-input name="amount_tax_after_deduction_quarter" id="amount_tax_after_deduction_quarter" autocomplete="amount_tax_after_deduction_quarter" v-model="form.amount_tax_after_deduction_quarter" :disabled="sending" />
                                    </md-field>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </form>
            </md-list>
        </md-list-item>
    </md-list>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'

    export default {
        name: 'RoomForm',
        mixins: [validationMixin],
        props: {
            serial: Number,
            cadastralNumber: String,
        },
        data: () => ({
            form: {
                // cadastral_number_right: cadasrtalNumber,
                type_right: null,
                square_right: null,
                address_right: null,
                inn_owner_right: null,
                name_owner_right: null,
                share_right: null,
                document_details_right: null,
                is_property_tax_paid: null,
                tax_determining_procedure: null,
                tax_base: null,
                amount_tax_before_deduction_month: null,
                amount_tax_after_deduction_month: null,
                amount_tax_before_deduction_quarter: null,
                amount_tax_after_deduction_quarter: null,
            },
            data: [
                {
                    description: 1,
                    name: 2,
                    for_rent: 3,
                    inn: 4,
                    renter_name: 5,
                    date: 6,
                    number: 7,
                    square: 8,
                    is_stopped: 9,
                    notify: 10,
                    patent: 11,
                    certificate: 12,
                },
            ],
            sending: false,
            expandSingle: false,
            expandSync: false,
        }),
        validations: {
            form: {
                cadastral_number_right: {
                    required,
                },
            }
        },
        computed: {
            // cadastralNumber: {
            //     get: function() {
            //         return this.$store.state.buildingInformation.cadastralNumber
            //     },
            //     set: function(cadastralNumber) {
            //         this.$store.commit('setBuildingInformationCadastralNumber', { cadastralNumber })
            //     }
            // },
            type: {
                get: function() {
                    return this.$store.state.buildingInformation.type
                },
                set: function(type) {
                    this.$store.commit('setBuildingInformationType', { type })
                }
            },
            square: {
                get: function() {
                    return this.$store.state.buildingInformation.square
                },
                set: function(square) {
                    this.$store.commit('setBuildingInformationSquare', { square })
                }
            },
            address: {
                get: function() {
                    return this.$store.state.buildingInformation.address
                },
                set: function(address) {
                    this.$store.commit('setBuildingInformationAddress', { address })
                }
            },
            innOwner: {
                get: function() {
                    return this.$store.state.buildingInformation.innOwner
                },
                set: function(innOwner) {
                    this.$store.commit('setBuildingInformationInnOwner', { innOwner })
                }
            },
            nameOwner: {
                get: function() {
                    return this.$store.state.buildingInformation.nameOwner
                },
                set: function(nameOwner) {
                    this.$store.commit('setBuildingInformationNameOwner', { nameOwner })
                }
            },
            shareRight: {
                get: function() {
                    return this.$store.state.buildingInformation.shareRight
                },
                set: function(shareRight) {
                    this.$store.commit('setBuildingInformationShareRight', { shareRight })
                }
            },
            documentDetails: {
                get: function() {
                    return this.$store.state.buildingInformation.documentDetails
                },
                set: function(documentDetails) {
                    this.$store.commit('setBuildingInformationDocumentDetails', { documentDetails })
                }
            },
        },
        methods: {
            getValidationClass (fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
