<template>
    <form class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-small-size-100">
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="registeredAsMoscowTaxpayer">Юридическое лицо и (или) его обособленное подразделение зарегистрировано в качестве налогоплательщика на территории города Москвы</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="foreignLegalEntity">Претендент не является иностранным юридическим лицом</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="shareForeignLegalEntity">Претендент не является российским юридическим лицом, в уставном (складочном) капитале которого доля участия иностранного юридического лица, местом регистрации которого является государство или территория, предоставляющая льготный налоговый режим налогообложения и (или) не предусматривающая раскрытия и предоставления информации при проведении финансовых операций в отношении такого юридического лица, в совокупности превышает 50 процентов</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="procedures">В отношении претендента не проводится процедура реорганизации, ликвидации или банкротства, приостановления деятельности в порядке, предусмотренном Кодексом Российской Федерации об административных правонарушениях</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="administrativeResponsibility">Претендент и/или арендаторы не привлекались к административной ответственности за совершение на данном объекте правонарушений, связанных с невыполнением правил, предусмотренных в связи с введением режима повышенной готовности, или нарушением требований нормативных правовых актов города Москвы, направленных на введение и обеспечение режима повышенной готовности на территории города Москвы</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="unauthorizedConstruction">Объект недвижимости не является самовольной постройкой</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="permittedUses">Виды разрешенного использования земельного участка, на котором расположен объект недвижимости, предусматривают возможность размещения такого объекта</md-checkbox>
                    </div>
                </div>

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-checkbox v-model="landRelations">Земельно-правовые отношения в отношении земельного участка, на котором размещен объект недвижимости, оформлены в установленном порядке</md-checkbox>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</template>

<script>
    export default {
        name: 'Requirements',
        components: {

        },
        data: () => ({

        }),
        computed: {
            registeredAsMoscowTaxpayer: {
                get: function () {
                    return this.$store.state.requirements.registeredAsMoscowTaxpayer
                },
                set: function (registeredAsMoscowTaxpayer) {
                    this.$store.commit('setRequirementsRegisteredAsMoscowTaxpayer', {registeredAsMoscowTaxpayer})
                }
            },
            foreignLegalEntity: {
                get: function () {
                    return this.$store.state.requirements.foreignLegalEntity
                },
                set: function (foreignLegalEntity) {
                    this.$store.commit('setRequirementsForeignLegalEntity', {foreignLegalEntity})
                }
            },
            shareForeignLegalEntity: {
                get: function () {
                    return this.$store.state.requirements.shareForeignLegalEntity
                },
                set: function (shareForeignLegalEntity) {
                    this.$store.commit('setRequirementsShareForeignLegalEntity', {shareForeignLegalEntity})
                }
            },
            procedures: {
                get: function () {
                    return this.$store.state.requirements.procedures
                },
                set: function (procedures) {
                    this.$store.commit('setRequirementsProcedures', {procedures})
                }
            },
            administrativeResponsibility: {
                get: function () {
                    return this.$store.state.requirements.administrativeResponsibility
                },
                set: function (administrativeResponsibility) {
                    this.$store.commit('setRequirementsAdministrativeResponsibility', {administrativeResponsibility})
                }
            },
            unauthorizedConstruction: {
                get: function () {
                    return this.$store.state.requirements.unauthorizedConstruction
                },
                set: function (unauthorizedConstruction) {
                    this.$store.commit('setRequirementsUnauthorizedConstruction', {unauthorizedConstruction})
                }
            },
            permittedUses: {
                get: function () {
                    return this.$store.state.requirements.permittedUses
                },
                set: function (permittedUses) {
                    this.$store.commit('setRequirementsPermittedUses', {permittedUses})
                }
            },
            landRelations: {
                get: function () {
                    return this.$store.state.requirements.landRelations
                },
                set: function (landRelations) {
                    this.$store.commit('setRequirementsLandRelations', {landRelations})
                }
            },
        },
        methods: {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .md-checkbox {
        align-items: center;
        white-space: normal;
    }
    .md-checkbox-label {
        height: auto !important;
    }
</style>
