<template>
    <div>
        <room serial="-1"/>
        <div v-if="rooms.length > 0">
            <room v-for="(room, index) in rooms" :serial="room.index" @remove="removeRoom"/>
        </div>
        <md-button class="md-raised md-primary" @click="addRoom">Добавить помещение</md-button>
    </div>
</template>

<script>
    import Room from './Room.vue'
    import ObjectRight from './ObjectRight.vue'

    export default {
        name: 'Rooms',
        components: {
            Room,
            ObjectRight,
        },
        data: () => ({
            form: {
                name_room: null,
                cadastral_number_room: null,
                object_right_room: null,

            },
            sending: false,
            expandSingle: false,
            expandSync: false,
            isSaved: false,
            rooms: [],
        }),
        methods: {
            save() {
                this.isSaved = !this.isSaved;
            },
            addRoom() {
                const index = this.rooms.length;
                this.rooms.push({ index: index });
            },
            removeRoom(index) {
                this.rooms = this.rooms.filter(function(e) {
                    // TODO: fix removing
                    console.log('e', e);
                    console.log('index', index);
                    return index !== e.index
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
