<template>
    <md-card-content>
        <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
                <md-field>
                    <label :for="serial + '_name_room'">Наименование помещения</label>
                    <md-input :name="serial + '_name_room'" :id="serial + '_name_room'" :autocomplete="serial + '_name_room'" v-model="form.name_room" />
                </md-field>
            </div>
        </div>

        <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
                <md-field>
                    <label :for="serial + '_cadastral_number_room'">Кадастровый номер помещения</label>
                    <md-input :name="serial + '_cadastral_number_room'" :id="serial + '_cadastral_number_room'" :autocomplete="serial + '_cadastral_number_room'" v-model="form.cadastral_number_room" required/>
                </md-field>
            </div>
        </div>

        <md-button class="md-raised md-primary" @click="save" v-if="form.cadastral_number_room">Создать</md-button>
        <md-button class="md-raised md-accent" @click="remove" v-if="serial !== '-1'">Удалить</md-button>

        <object-right v-if="isSaved" :cadastral-number="form.cadastral_number_room"/>
    </md-card-content>
</template>

<script>
    import ObjectRight from './ObjectRight.vue'

    export default {
        name: 'Room',
        props: [ 'serial' ],
        components: {
            ObjectRight
        },
        data: () => ({
            form: {
                name_room: null,
                cadastral_number_room: null,
                object_right_room: null,

            },
            sending: false,
            expandSingle: false,
            expandSync: false,
            isSaved: false,
        }),
        methods: {
            save() {
                this.isSaved = !this.isSaved
            },
            remove() {
                this.$emit('remove', this.serial)
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
