<template>
    <div>
        <form class="md-layout" @submit.prevent="validateUser">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Сведения о приостановленном объекте</div>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Кадастровый номер здания/помещения, в котором расположен объект</label>
                                <md-input v-model="cadastralNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Номер строки в таблице 2 листа "Объект права", в которой указан объект</label>
                                <md-input v-model="rowNumber" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Вид объекта</label>
                                <md-input v-model="objectType" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Наименование объекта </label>
                                <md-input v-model="objectName" />
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Дата приостановки</label>
                                <md-input v-model="suspensionDate" />
                            </md-field>
                        </div>
                    </div>

                </md-card-content>
            </md-card>
        </form>

        <form class="md-layout" @submit.prevent="validateUser">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Характеристики деятельности объекта, работа которого была приостановлена</div>
                </md-card-header>
                <!--<md-card-content v-if="objectType === 'Объект общественного питания'">-->
                <md-card-content>
                    <h3>Объект общественного питания</h3>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Является одним из следующих объектов (выбрать один из вариантов):</label>
                                <md-select v-model="form.cateringFacilityType">
                                    <md-option value="Ресторан">Ресторан</md-option>
                                    <md-option value="Кафе">Кафе</md-option>
                                    <md-option value="Столовая">Столовая</md-option>
                                    <md-option value="Буфет">Буфет</md-option>
                                    <md-option value="Бар">Бар</md-option>
                                    <md-option value="Закусочная">Закусочная</md-option>
                                    <md-option value="Иное предприятие общественного питания">Иное предприятие общественного питания</md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.servicedByTakeaway">Объект не обслуживал на вынос</md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.workedDeliveryOrders">Объект не работал на доставку заказов</md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.cateringEmployeeOrganization">Объект не является столовой, буфетом, кафе и иным предприятием питания, осуществляющим организацию питания для работников организаций</md-checkbox>
                        </div>
                    </div>
                </md-card-content>

                <!--<md-card-content v-if="objectType === 'Торговый объект'">-->
                <md-card-content>
                    <h3>Торговый объект</h3>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.retailEntity">Является объектом розничной торговли</md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.pharmacy">Не является аптекой</md-checkbox>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.pharmacyPoint">Не является аптечным пунктом</md-checkbox>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.communicationServicesProvision">Не является объектом розничной торговли, в котором осуществляется заключение договоров на оказание услуг связи и реализация связанных с данными услугами средств связи (в том числе мобильных телефонов, планшетов)</md-checkbox>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.optophthalmologicalProvision">Не является специализированным объектом розничной торговли, реализующим медицинские и оптикоофтальмологические изделия (оборудование)</md-checkbox>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.petSupplesProvision">Не является специализированным объектов розничной торговли, реализующим зоотовары</md-checkbox>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.footstuffsProvision">Не является объектом розничной торговли в части реализации продовольственных товаров</md-checkbox>
                        </div>
                    </div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityExcluded.nonFoodsProvision">Не является объектом розничной торговли в части реализации непродовольственных товаров первой необходимости, указанных ниже*</md-checkbox>
                        </div>
                    </div>

                    <md-list>
                        <md-list-item>
                            <h4>* Непродовольственные товары первой необходимости</h4>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Санитарно-гигиеническая маска</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Антисептик для рук маска</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Салфетки влажные</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Салфетки сухие</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Мыло туалетное</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Мыло хозяйственное</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Паста зубная</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Щетка зубная</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Бумага туалетная</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Гигиенические прокладки</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Стиральный порошок</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Подгузники детские</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Спички, коробок</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Свечи</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Пеленка для новорожденного</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Шампунь детский</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Крем от опрелостей детский</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Бутылочка для кормления</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Бензин автомобильный</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">Дизельное топливо</span>
                        </md-list-item>
                        <md-list-item>
                            <span class="md-list-item-text">22. Газомоторное топливо (компримированный природный газ, сжиженный природный газ, сжиженный углеводородный газ).</span>
                        </md-list-item>
                    </md-list>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.shoppingFacilityRemoteSaleGoods">Не осуществлял продажу товаров дистанционным способом, в том числе с условием доставки</md-checkbox>
                        </div>
                    </div>
                </md-card-content>

                <!--<md-card-content v-if="objectType === 'Объект бытовых услуг'">-->
                <md-card-content>
                    <h3>Объект бытовых услуг</h3>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label>Является одним из следующих объектов (выбрать один из вариантов):</label>
                                <md-select v-model="form.householdServicesType">
                                    <md-option value="салоном красоты">салоном красоты</md-option>
                                    <md-option value="косметическим салоном">косметическим салоном</md-option>
                                    <md-option value="СПА-салоном">СПА-салоном</md-option>
                                    <md-option value="массажным салоном">массажным салоном</md-option>
                                    <md-option value="солярием">солярием</md-option>
                                    <md-option value="баней">баней</md-option>
                                    <md-option value="сауной">сауной</md-option>
                                    <md-option value="иным объектом, в котором оказываются подобные услуги, предусматривающие очное присутствие гражданина">иным объектом, в котором оказываются подобные услуги, предусматривающие очное присутствие гражданина</md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-checkbox v-model="form.householdServicesRemoteSalesGoods">Объектом не оказывались услуги дистанционным способом, в том числе с условием доставки</md-checkbox>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'Suspension', // Дополнительный лист "Приостановка"
        props: {
            cadastralNumber: String, // Кадастровый номер
            rowNumber: Number, // Номер строки в таблице 2 листа "Объект права", в которой указан объект
            objectType: String, // Вид объекта
            objectName: String, // Наименование объекта
            suspensionDate: String, // Дата приостановки
            suspensionEnd: String, // Окончание приостановки
        },
        data: () => ({
            form: {
                cateringFacilityType: null, // Является одним из следующих объектов (выбрать один из вариантов)
                servicedByTakeaway: null, // Объект не обслуживал на вынос
                workedDeliveryOrders: null, // Объект не работал на доставку заказов
                cateringEmployeeOrganization: null, // Объект не является столовой, буфетом, кафе и иным предприятием питания, осуществляющим организацию питания для работников организаций
                retailEntity: null, // Является объектом розничной торговли
                shoppingFacilityExcluded: { // Не является одним из следующих объектов
                    pharmacy: null, // Не является аптекой
                    pharmacyPoint: null, // Не является аптечным пунктом
                    communicationServicesProvision: null, // Не является объектом розничной торговли, в котором осуществляется заключение договоров на оказание услуг связи и реализация связанных с данными услугами средств связи (в том числе мобильных телефонов, планшетов)
                    optophthalmologicalProvision: null, // Не является специализированным объектом розничной торговли, реализующим медицинские и оптикоофтальмологические изделия (оборудование)
                    petSupplesProvision: null, // Не является специализированным объектов розничной торговли, реализующим зоотовары
                    footstuffsProvision: null, // Не является объектом розничной торговли в части реализации продовольственных товаров
                    nonFoodsProvision: null, // Не является объектом розничной торговли в части реализации непродовольственных товаров первой необходимости, указанных ниже*
                },
                shoppingFacilityRemoteSaleGoods: null, // Не осуществлял продажу товаров дистанционным способом, в том числе с условием доставки
                householdServicesType: null, // Является одним из следующих объектов (выбрать один из вариантов)
                householdServicesRemoteSalesGoods: null, // Объектом не оказывались услуги дистанционным способом, в том числе с условием доставки
            }
        }),
        methods: {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
